* {
    border: 0.5px solid red;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;;
}

/*** header ***/
.header-section {
    height: 72px;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.header-content .logo {
    font-size: 24px;
}

.header-content ul {
    display: flex;
    gap: 32px;
}

/*** hero ***/
.hero-section {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.hero-content {
    width: 1000px;
    display: flex;
    gap: 32px;
}

.hero-content-left,
.hero-content-right {
    width: 50%;
}

/* .hero-content-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero-content button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
}

.hero-content img {
    max-width: 100%;
}

/*** info ***/
.info-section {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.info-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards {
    display: flex;
    gap: 32px;
}

.info-content img {
    max-width: 100%;
}
