* {
    border: 1px solid red;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;;
}

.header-section {
    height: 72px;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header-content .logo {
    font-size: 24px;
}

.header-content ul {
    display: flex;
    gap: 32px;
}